<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArsMagna.Core" version="1.9.2.2906" targetFramework="net45" />
  <package id="IronOcr" version="4.4.0" targetFramework="net45" />
  <package id="IronOcr.Languages.French" version="4.4.4.2" targetFramework="net45" />
  <package id="IronOcr.Languages.German" version="4.4.4.11" targetFramework="net45" />
  <package id="IronOcr.Languages.Italian" version="4.4.4.11" targetFramework="net45" />
  <package id="IronOcr.Languages.Portuguese" version="4.4.4.1" targetFramework="net45" />
  <package id="IronOcr.Languages.Russian" version="4.4.4.1" targetFramework="net45" />
  <package id="IronOcr.Languages.Spanish" version="4.4.4.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="2020.1.0" targetFramework="net472" />
  <package id="ManagedClient" version="1.5.22.98" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="MoonSharp" version="2.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" requireReinstallation="true" />
  <package id="WeCantSpell.Hunspell" version="3.0.1" targetFramework="net45" />
</packages>